@media only screen and (max-width:550px) {

    /* Navbar */
    /* #navbar .nav1 {
        flex-wrap: wrap;
        justify-content: center;

    } */

    /* #navbar .any {

        margin-left: 0px;
    } */

    #navbar .list {
        font: normal normal 600 13px/25px Poppins;
    }

    #navbar li {
        font: normal normal 600 12px/25px Poppins;

        white-space: nowrap;
        padding: 13px 8px;
    }


    #navbar .any p {
        font: normal normal 600 12px/25px Poppins;
        white-space: nowrap;
    }


    /* Home section  */


    #home-a {
        padding: 50px;
    }

    .home1 p {
        font: normal normal 600 37px/65px Poppins;
    }

    .home1 .btn {
        font: normal normal 600 13px/10px Poppins;

    }

    #home-a {
        background-size: cover;


    }

    /* Active Section  */
    #container {
        display: block;
    }

    #active-section .container h2 {
        font: normal normal 600 27px/73px Poppins;
    }

    #container .box {
        margin: 10px;
    }

    #container .box p {
        padding-bottom: 6%;
        padding-left: 6%;
        padding-right: 6%;
        padding-top: unset;
    }


    /* Help -section  */


    #help-section .help-section-container .help-section-box h1 {

        font: normal normal 600 26px/45px Poppins;
    }

    #help-section .help-section-container #box-1 p {
        font: normal normal normal 14px/22px Poppins;
    }

    #help-section .help-section-container #box-2 h2 {

        font: normal normal 600 29px/36px Poppins;
    }

    #help-section .help-section-container #box-2 p {
        font: normal normal 600 10px/23px Poppins;
    }

    /* Help-matter  */


    #help-matter h2 {
        font: normal normal 600 24px/80px Poppins;
    }

    /* Support Cause  */
    #support-cause .box .item .contain .green h5 {
        font: normal normal 600 14px/18px Poppins;
        padding-bottom: 17px;
        padding-left: 37px;
    }

    #support-cause .box .item .contain .green .btn1 {
        padding: 5px 5px;
        margin-left: 10px;
    }

    #support-cause h1 {
        padding-top: unset;
        font: normal normal 600 26px/80px Poppins;
    }

    #support-cause .box .contain {
        flex-wrap: wrap;
    }

    #support-cause .box .item {
        padding-bottom: 27px;
    }

    #support-cause .box .image2 {
        max-width: 100%;
        width: unset;
    }

    #support-cause .box .item {
        width: 100%;
    }

    .box .green {
        margin-top: 8px;
    }

    #support-cause .box .item .contain .green .btn1 {
        padding: 5px 25px !important;
        margin-left: 35px !important;
    }


    /* Donation-section  */
    #donation-sec .box .green .currency1 {
        flex-wrap: wrap;
    }

    #donation-sec .box .green .currency-container1 {
        width: unset;
    }

    #donation-sec .box .green .currency-container1 h6 {
        font: normal normal 600 13px/27px Poppins;
    }

    #donation-sec .box .green .currency-container2 .currency-container3 h6 {
        font: normal normal 600 14px/32px Poppins;
    }

    #donation-sec .box .green .btn2 {
        padding: 13px 93px;
        width: 85%;
        white-space: nowrap;
    }


    #donation-sec .box .content h1 {
        font: normal normal 600 32px/60px Poppins;
    }

    #donation-sec .box .content #mar {
        font: normal normal normal 16px/29px Poppins;
        margin-left: 7px;
    }


    /* Blog-section  */
    #blog h1 {
        font: normal normal 600 36px/80px Poppins;
    }


    /* Footer Section  */
    #footer .footer-container .footer-box {
        padding-bottom: unset;


    }

    #footer .footer-container .footer-box .footer-btn {
        margin-bottom: 38px;
    }
}